/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px)
	.why-image
		min-width: 800px
		max-width: 800px

	.about-author__content
		max-width: 550px

	.about-author__image
		padding: 0 0 0 30px
		width: calc(100% - 550px)

@media only screen and (max-width: 1200px)
	.why-content
		max-width: 550px
		padding: 0 20px 0 0

	.why-image
		min-width: 700px
		max-width: 700px
		height: 650px

	.theme-seminar-box, .result-seminar-box
		width: 50%

	.about-author
		&__content
			max-width: none
			padding: 0 30px
		&__image
			margin: 133px 0 -134px
			max-width: none
			width: 100%

	.author-description
		min-width: 1200px

	.theme-seminar
		background: #f4f5f5
		color: #333
		padding: 254px 0 142px
		margin: 0
		h2
			&::after
				display: none

	.description-content
		max-width: none
		background: transparent
		padding: 0
		box-shadow: none
		margin: 0

	.contacts-block, .callback-box
		max-width: 450px

@media only screen and (max-width: 992px)
	h1
		font-size: 68px
		letter-spacing: -2.04px

	.phone
		font-size: 30px

	.why-image
		min-width: auto
		max-width: 600px
		margin: 0 auto
		order: 1
		height: auto

	.why-content
		max-width: none
		padding: 0
		margin: 0 auto 50px

	.why
		margin: 140px 0 127px
		h2
			text-align: center
			padding: 0

	.list-why
		br
			display: none

	.contacts-block, .callback-box
		max-width: none

	.contacts-block
		margin: 0 auto 88px

@media only screen and (max-width: 768px)
	.phone
		display: none

	.logo
		margin: 0 auto
		max-width: 354px

	header
		padding: 32px 0
		border-bottom: 1px solid rgba(255,255,255, .4)

	.home
		padding: 180px 0 131px
		background: url('../img/bg1-tablet.jpg') no-repeat center
		background-size: cover
		blockquote
			display: none
		.btn
			order: 1
		&::before
			width: 12px
			bottom: -370px

	.date
		margin: 70px 0 68px
		text-align: left

	.author-name
		font-size: 61px
		line-height: 0.98
		padding: 0
		&::before
			top: 3px
			transform: none
			height: 36px
		span
			display: block
			font-size: 50px
			padding: 0 0 0 15px

	.why
		margin: 87px 0 130px
		position: relative
		z-index: 1
		&::before
			width: 14px
			height: 257px
			bottom: -250px
		blockquote
			display: block
			text-align: center
			margin: 0 auto 74px
			font-weight: 300
			max-width: none
			line-height: 1

	.why-image
		display: none

	.why-content
		margin: 0

	.list-why
		font-weight: 300

	h1
		margin: 45px 0 28px

	.slogan
		margin: 0
		font-weight: 300
		letter-spacing: 0.37px
		line-height: 1.3

	.description-content
		margin: 57px 0 0
		font-weight: 300
		strong
			font-weight: normal

	.theme-seminar
		h2
			margin: 0 auto 68px

	.about-author
		padding: 0
		&__content
			margin: 0
			.box-text
				font-weight: 300
		h2
			&::after
				display: none

	.about-author-section
		padding: 102px 0 0
		background: url('../img/bg2-tablet.jpg') no-repeat center
		background-size: cover

	.author-photo
		margin: 0 0 -188px 60px
		&::before
			bottom: -145px
			left: 4px

	.author-description
		padding: 222px 20px 68px 92px
		font-weight: 300
		ul
			max-width: 533px
			li
				margin: 0 0 12px

	.theme-seminar-box
		width: 100%
		margin: 0 0 30px
		font-weight: 300
		line-height: 1.06
		letter-spacing: -0.32px
		padding: 0 0 0 20px
		br
			display: none
		&__icon
			width: 63px
			height: 63px
			min-width: 63px
			margin: 0 12px 0 0
			background: url('../img/checked.png') no-repeat center
			background-size: 100%
			img
				display: none

	.result-seminar
		padding: 101px 0 187px
		color: #fff
		background: url('../img/bg3-tablet.jpg') no-repeat center
		background-size: cover
		.title-decor
			text-align: left
			margin: 0 0 68px
			&::before
				display: none
			&:after
				top: -182px
		&__description
			margin: 95px 0 0
			color: #fff
			font-weight: normal
			strong
				color: #fe613c

	.result-seminar-box
		width: 100%
		color: #fff
		font-weight: 300
		line-height: 1.06
		letter-spacing: -0.32px
		margin: 0 0 30px
		&__number
			font-size: 64px
		&__text
			max-width: 530px
		br
			display: none

	.contacts-block
		margin: 0
		max-width: none
		position: relative
		z-index: 2
		background: transparent
		padding: 85px 120px 106px
		&::before
			content: ''
			position: absolute
			z-index: -1
			width: calc(100% + 30px)
			height: 100%
			transform: translate(-50%,0)
			left: 50%
			top: 0
			background: #fff url('../img/bg-contacts.png') no-repeat center
			background-size: cover
		&::after
			content: ''
			position: absolute
			left: -15px
			bottom: -240px
			width: 12px
			height: 481px
			background: #fe613c
		.h2
			display: block
			margin: 0 auto 80px
			text-align: center

	.contacts
		padding: 0 0 34px
		h2
			display: none

	.callback-box
		padding: 77px 0 0
		min-height: 700px
		position: relative
		z-index: 1
		&::before
			content: ''
			position: absolute
			z-index: -1
			height: 100%
			width: calc(100% + 30px)
			top: 0
			left: 50%
			transform: translate(-50%,0)
			background: url('../img/bg4-tablet.jpg') no-repeat center top
			background-size: cover
		.h2
			display: block
			text-align: center
			margin: 0 auto 60px

	.list-social
		margin: 45px 0 0

	footer
		padding: 34px 0
		font-size: 20px
		line-height: normal
		line-height: 1.83
		letter-spacing: 0.2px

@media only screen and (max-width: 700px)
	.author-description ul
		max-width: 450px

	.contacts-block
		padding: 85px 70px 106px

@media only screen and (max-width: 576px)
	.title-decor:after
		width: 3px
		height: 65px
		top: -114px

	header
		padding: 20px 0

	.logo
		max-width: 221px

	.btn
		height: 48px
		padding: 0 40px
		font-size: 16px

	.home
		padding: 130px 0 113px
		&::before
			width: 8px
			height: 300px
			bottom: -230px
		&:after
			width: 4px
			height: 65px
			bottom: -32.5px

	h1
		font-size: 42.5px
		margin: 28px 0 16px

	.author-name
		font-size: 38px
		&::before
			width: 6px
			height: 23px
		span
			font-size: 31.5px

	.slogan
		font-size: 23.5px
		max-width: 330px

	.date
		margin: 44px 0 43px
		font-size: 25px

	.why
		margin: 54px 0 82px
		h2
			margin: 0 auto 37px
		blockquote
			margin: 0 auto 47px
		&::before
			width: 8px
			height: 160px
			bottom: -160px

	h2, .h2
		font-size: 20px
		line-height: 0.95
		letter-spacing: -0.5px
		margin: 0 0 35px

	blockquote
		font-size: 19px
		line-height: 1

	body
		font-size: 20px

	.list-why
		li
			align-items: flex-start
			margin: 0 0 13px
			&:last-child
				margin: 0
		&__icon
			margin: 0 21px 0 0
			width: 44px
			min-width: 44px
			height: 44px

	.about-author-section
		padding: 64px 0 0

	.about-author__image
		margin: 83px 0 -86px
		padding: 0 0 0 15px

	.author-photo
		max-width: 344px
		height: 359px
		margin: 0 0 -113px 36px
		&::before
			width: 3px
			height: 113px
			left: 3px
			bottom: -90px

	.author-description
		padding: 139px 20px 42px 57px
		min-width: auto
		position: relative
		width: calc(100% + 15px)

		ul
			max-width: 360px
			font-size: 19.5px

	.about-author__content
		padding: 0 15px

	.theme-seminar
		padding: 158px 0 88px
		h2
			margin: 0 auto 42px

	.theme-seminar-box
		margin: 0 0 20px
		padding: 0
		justify-content: center
		&__icon
			width: 39px
			height: 39px
			min-width: 39px
			margin: 0 7px 0 0
		&__text
			max-width: 340px

	.description-content
		margin: 34px 0 0
		font-size: 19.5px
		p
			margin: 0 0 30px
			&:last-child
				margin: 0

	.result-seminar
		padding: 64px 0 117px
		.title-decor
			margin: 0 0 40px
			&:after
				top: -114px
		&__description
			margin: 78px 0 0
			font-size: 19.5px
			font-weight: normal
			line-height: 1.18
			letter-spacing: 0.2px

	.result-seminar-box
		margin: 0 0 15px
		&__number
			margin: 0 11px 0 0
			font-size: 40px
			line-height: 1.28
			letter-spacing: -2px
			min-width: 53px
		&__text
			max-width: 350px

	.contacts-block
		padding: 58px 50px 70px
		font-size: 20px
		&::after
			left: -15px
			width: 8px
			bottom: -150px
			height: 301px
		.h2
			margin: 0 auto 49px
		h3
			font-size: 20px

	.address, .list-social
		margin: 25px 0 0

	.price
		font-size: 20px
		line-height: 1.13

	.list-social
		li
			margin: 0 12px 0 0
			a
				width: 40px
				height: 40px

	.callback-box
		padding: 54px 0 0
		min-height: 600px

	footer
		padding: 22px 0
		font-size: 12.5px
		line-height: 1.84
		letter-spacing: 0.13px

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)
	.box-text
		line-height: 0.93
		letter-spacing: -0.34px
		p
			margin: 0 0 20px
			&:last-child
				margin: 0

	header
		padding: 13px 0

	.logo
		max-width: 147px

	.home
		padding: 86px 0 76px
		&::before
			width: 5px
			height: 201px
			bottom: -156px
		&::after
			width: 2px
			height: 44px
			bottom: -22px

	.author-name
		font-size: 25.5px
		line-height: 0.98
		span
			font-size: 21px
		&::before
			width: 4px
			height: 16px

	h1
		margin: 19px 0 11px
		font-size: 28.5px
		letter-spacing: -0.86px

	.slogan
		letter-spacing: 0.16px
		font-size: 15.5px
		line-height: normal
		max-width: 215px

	.date
		margin: 29px 0 28px
		font-size: 16.5px
		letter-spacing: 0.17px

	.btn
		height: 32px
		padding: 0 28px
		font-size: 10.5px
		line-height: 1.29
		letter-spacing: 0.53px

	.why
		margin: 35px 0 54px
		&::before
			width: 6px
			height: 108px
			bottom: -108px
		blockquote
			margin: 0 auto 32px
		h2
			margin: 0 auto 22px

	blockquote
		font-size: 12.5px

	h2, .h2
		font-size: 13.5px
		margin: 0 0 22px
		letter-spacing: -0.34px
		line-height: 0.93

	body
		font-size: 13.5px

	.list-why
		line-height: 1.04
		letter-spacing: -0.14px
		li
			margin: 0 0 14px
		&__icon
			margin: 0 14px 0 0
			width: 29px
			min-width: 29px

	.about-author-section
		padding: 43px 0 0
		h2
			margin: 0 0 23px

	.title-decor::before
		width: 17px
		height: 2px
		left: -24px

	.about-author__image
		margin: 55px 0 -60px

	.author-photo
		max-width: 230px
		height: 240px
		margin: 0 0 -80px 20px
		&::before
			width: 2px
			height: 75px
			left: 2px
			bottom: -60px

	.author-description
		padding: 93px 20px 29px 38px
		ul
			line-height: 1.12
			font-size: 13px
			max-width: 230px
			li
				margin: 0 0 3px

	.theme-seminar
		padding: 105px 0 57px
		h2
			margin: 0 auto 27px

	.theme-seminar-box
		margin: 0 0 15px
		&__icon
			width: 26px
			height: 26px
			min-width: 26px
			margin: 0 5px 0 0
		&__text
			max-width: 230px

	.description-content
		margin: 20px 0 0
		font-size: 13px
		p
			margin: 0 0 20px

	.result-seminar
		padding: 44px 0 77px
		.title-decor
			margin: 0 0 25px
			&:after
				width: 2px
				height: 43px
				top: -76px
		&__description
			margin: 38px 0 0
			font-size: 13px

	.result-seminar-box
		margin: 0 0 20px
		letter-spacing: -0.14px
		line-height: 1.04
		&__number
			line-height: 1.28
			letter-spacing: -1.33px
			font-size: 26.5px
			margin: 0 9px 0 0
			min-width: 32px
		&__text
			max-width: 230px

	.contacts-block
		font-size: 13.5px
		padding: 40px
		.h2
			margin: 0 auto 32px
		h3
			font-size: 13.5px
		&:after
			width: 5px
			height: 201px
			bottom: -100.5px

	.address
		margin: 15px 0 0

	.price
		font-size: 13.5px
		margin: 20px 0 0

	.list-social
		margin: 17px 0 0
		li
			margin: 0 7px 0 0
			a
				width: 28px
				height: 28px
				min-width: 28px

	.callback-box
		padding: 38px 0 14px
		min-height: 400px
		h2
			margin: 0 auto 30px

	footer
		padding: 14px 0
		font-size: 8.5px
